language: java
jdk:
  - oraclejdk9	
sudo: required
addons:
  postgresql: "9.6"
services:
  - postgresql
before_script:
  - psql -c "create user accord with password 'accord';" -U postgres
  - psql -c "create database accord;" -U postgres
  - psql -c "grant all on database accord to accord;" -U postgres